.formattedText p{
  word-break: break-all;
}

.formattedText ol{
  all: revert;
  margin: 0;
}

.formattedText ul{
  all: revert;
  margin: 0;
}

.formattedText a{
  all: revert;
}

.formattedText h1, .formattedText h2{
  all: revert;
  margin: 0;
}

/* .formattedText pre {
  background: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  overflow: auto;
  word-break:normal;
}

.formattedText code {
  background: #f5f5f5;
  border-radius: 3px;
  padding: 2px 4px;
  font-family: 'Courier New', Courier, monospace;
} */